.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white
}

.search-box-container{
  display:flex;
  position:relative;
  height:0;
}

.location-info-container{
  display:flex;
  position:relative;
  height:0;
}

.close-form{
  border: none;
  border-radius: 2px;
  width: 1.7rem;
  height: 1.7rem;
  font-weight: 500;
}

.button-pagination{
  border: none;
  border-radius: 2px;
  width: 1.7rem;
  height: 2rem;
  font-weight: 500;
}

.search-box form{
  box-sizing: border-box;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 20rem;
  background-color: #06152e;
  z-index: 8;
  top: -13rem;
}

.search-box button:first-child {
  z-index: 40;
  position: absolute;
  top: -12rem;
  left: 1rem;
}

.search-box form input {
  margin: 1rem 0 1rem 0;
}

.out-noAnim{
  position: relative;
  left: -20rem;
}

.out{
  position: relative;
  animation-name: animOut;
  animation-duration: 0.5s; 
  left: -20rem;
}

@keyframes animOut {
  from {left: 0rem;}
  to {left: -20rem;}
}

.in{
  position: relative;
  animation-name: animIn;
  animation-duration: 0.5s; 
  left: 0rem;
}

@keyframes animIn {
  from {left: -20rem;}
  to {left: 0rem;}
}



.location-info{
  background-color: #06152e;
  min-width: 16rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 6px; 
  z-index: 10;
  position: absolute;
  right: 1rem;
  top: -12rem;
}

.open-search-button{
  height: 0
}

.open-search-button button{
  z-index: 5;
  position: absolute;
  top: -11rem;
  left: 2rem;
  padding: 0.6rem;
  color: white;
  background-color: #06152e;
  border-radius: 6px;
}

.arrow{
  transform: scale(0.2) rotate(-180deg);
  position: absolute;
  top: -17rem;
  left: -2rem;
  opacity: 0.3;
  animation-name: arrow-pulse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes arrow-pulse {
	0% {
		left: -2rem;
	}

	50% {
		left: -2.5rem;
	}

	100% {
		left: -2rem
	}
}

ul {
  list-style-type: none;
  padding:0;
}

.initial-text{
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
  max-width: 40rem;
  margin: 0 3rem;
}

.residents-container{
  background-color: #040B1A;
  padding: 0 4rem 2rem 4rem;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 3.5rem;
  font-weight: 800;
  color: #040B1A;
  padding: 0;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
}



.loading-container{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
}

.card-location-title{
  font-weight: 700;
  margin-top: 0.5rem;
 /*  max-width: 12rem;
  text-align: center;
  margin: 0; */
}

.loader-style{
  margin-top: 50vh;
}

.resident-card{
  background-color: #2B2D39;
  display: inline-block;
  margin: 1rem;
  border-radius: 6px;
}

.resident-card img{
  border-radius: 6px 6px 0 0;
  flex-grow: 1;
}

.text-container{
  flex-grow: 1 ;
}

.button-page{
  padding: 1rem;
  background-color: none;
}

.button-page button{
  margin: 0 .1rem 0 .1rem;
  font-size: 1.1rem;
  padding: .1rem .4rem .1rem .4rem;
}

button:hover{
  cursor: pointer;
}

#location-input{
  color: white;
  background-color: #06152e;
  border-radius: 6px;
  border: solid 1px white;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#search-button{
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #3182ce;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.green{
  color: rgb(48, 187, 48);
}

.red{
  color:rgb(197, 42, 42);
}

.yellow{
  color:rgb(197, 187, 41);
}


@media (max-width: 1200px){
  .title{
    font-size: 2.5rem;
  }
}


@media (max-width: 900px){

  .residents-container{
    padding: 0;
  }

  .search-box-container{
    display: block;
    position:relative;
    height:0;
  }

  .search-box{
    width: 100%;
    height: 0;
  }
  .search-box form{
    width: 100%;
  }

  .location-info-container{
    display:inline-block;
    width: 100%;
    height: auto;
  }

  .location-info{
    background-color: #06152e;
    width: 100%;
    border-radius: 0; 
    padding: 1rem 0 1rem 0;
    z-index: 0;
    position: static;
    right: 0;
    top: 0;
    margin: 0;
  }

  .location-info p{
    margin: 0;
    padding: .5rem 0 0.5rem 0;
  }

  .location-info :first-child{
    font-weight: 700;
  }

  .out-noAnim{
    left: -70rem;
  }

  .out{
    animation-duration: 0.7s; 
    left: -70rem;
  }
  
  @keyframes animOut {
    from {left: 0rem;}
    to {left: -70rem;}
  }
  
  .in{
    animation-duration: 0.7s; 
    left: 0rem;
  }
  
  @keyframes animIn {
    from {left: -70rem;}
    to {left: 0rem;}
  }
  

}