.App {
  text-align: center;
  color: white
}

.top-bar{
  display:flex;
  position:relative;
  height:0;
}

.search-box{
  
}

.search-box form{
  box-sizing: border-box;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.search-box button:first-child {
  z-index: 40;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.search-box form button {
  margin-top: 1rem;
}

.location-info{
  background-color: #06152e;
  width: 16rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 6px; 
  padding: 0;
  z-index: 10;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.open-search-button{
  height: 0
}

.open-search-button button{
  z-index: 30;
  position: relative;
  top: 2rem;
  left: 2rem;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  color: white;
  background-color: #06152e;
  border-radius: 6px;
  
}

ul {
  list-style-type: none;
  padding:0;
}


.residents-container{
  background-color: #040B1A;
}

.title{
  color: #040B1A;
  padding: 0;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13rem;
}

.search-box form{
  width: 16rem;
  background-color: #06152e;
}

.resident-card{
  background-color: #2B2D39;
  display: inline-block;
  margin: 1rem;
}

.button-page{
  background-color: red;
  padding: 1rem;
  background-color: #2B2D39;
}

.button-page button{
  margin: 0 .1rem 0 .1rem;
}

button:hover{
  cursor: pointer;
}